.debug {
  border: 5px solid red;
}

body {
  background-color: antiquewhite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.carosel-container {
  width: 700px;
  height: 300px;
}

.carosel-container img {
  height: 300px;
  width: 700px;
  object-fit: cover;
}

.arrow-before,
.arrow-after {
  border-radius: 50%;
  width: 25px;
  aspect-ratio: 1;
  background-color: rgba(204, 204, 204, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 50%;
  transform: translateX(-50%);
}

.arrow-before {
  top: 165px;
}

.arrow-after {
  bottom: 150px;
}
